[MASTER]
# No lint failures allowed.
fail-under=10.0

# Prevent litter in ~/.pylint.d
persistent=no

[MESSAGES CONTROL]
disable=
      # None of the modules in this are designed for import. This is a tool,
      # with no library attached.
      missing-module-docstring,
      # I fundamentally disagree with pylint's assertion that stdlib imports go
      # before library imports. All libraries are created more or less equal;
      # the stdlib merely happens to come with the language.
      wrong-import-order,
